@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700&display=swap');
* {
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --primary-color: #2135E3;
    --hover-color: #0012af;
    --secondary-color: #6C87AE ;
    --black-color: #181818;
    --white-color: #ffffff;
}

/* Navigation */

nav {
    text-align: center;
    display: flex;
    justify-content: space-around;
    border-bottom: 2px solid var(--primary-color);
    height: 60px;
}
.logo {
    margin-top: -14px;
}

nav .menu ul {
    margin-top: 18px;
    display: flex;
    list-style-type: none;
    column-gap: 16px;
}

nav .menu ul li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    color: var(--black-color);
}

nav .menu ul li a:hover {
    color: var(--hover-color);
}

.btn-login {
    margin-top: 7px;
    background-color: var(--primary-color);
    padding: 7px 40px;
    color: var(--white-color);
    font-size: 16px;
    font-weight: 700;
    border: none;
    border-radius: 10px;
    
}
